<!DOCTYPE html>
<html lang="ko">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>장비서</title>
  <meta name="description" content="A project that provides price data services." />
  <meta name="author" content="TMI" />

  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/detailprice.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />


</head>

<body>
  <header class="header" display="none">
    <!-- Navbar -->
    <nav id="navbar__vers-green">
      <div class="navbar__logo">
        <a href="/">
          <img src="/assets/icons/jang_logo_green.png" alt="장비서 로고" class="logo__green" />
        </a>
      </div>
      <ul class="navbar__menu">
        <li>
          <a href="/shoppinglist" class="navbar__menu__item">쇼핑 리스트</a>
        </li>
        <li>
          <a href="/pricedata" class="navbar__menu__item active">오늘의 물가</a>
        </li>
        <li>
          <a href="/accountbook" class="navbar__menu__item">가계부 정리</a>
        </li>
        <li><a href="/signin" class="navbar__menu__item">회원가입</a></li>
        <li>
          <button type="button" id="open" class="navbar__menu__login-btn">
            로그인
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <!-- Title bar -->

  <section id="titlebar">
    <div id="titleText">
      <span class="tit__sub__txt">매일매일,&nbsp</span>
      <h1>오늘의 물가 확인하기 🔍</h1>
    </div>

  </section>

  <!--Detail Price page-->
  <section id="detailprice" class="section">
    <div class="detailprice">
      <div class="detailprice_left">
        <div class="detailprice_left_top">
          <div class="detailprice_left_top_title">
            <h2>
              <%=item_name%>
            </h2>
          </div>
          <div class="detailprice_left_top_price">
            평균 &nbsp
            <span class="detailprice_left_top_redtext">
              <%= today %>
            </span>
            &nbsp 원
          </div>
        </div>
        <div class="detailprice_left_bottom">
          <div class="detailprice_left_bottom_price">
            <div class="detailprice_left_bottom_price_left">
              <h2>가격</h2>
            </div>
            <div class="detailprice_left_bottom_price_right">
              <h2>상품 <span>
                  <%= unit %>
                </span> 기준</h2>
            </div>
          </div>
          <div class="detailprice_left_bottom_table">
            <table class="table">
              <tr class="graph">
                <td>구분</td>
                <td>1일전</td>
                <td>한달전</td>
                <td>1년전</td>
              </tr>
              <tr class="graph1">
                <td class="graph_td">전국 평균가</td>
                </td>
                <td>
                  <%= day %>
                </td>
                <td>
                  <%= month %>
                </td>
                <td>
                  <%= year %>
                </td>
              </tr>
              <tr class="graph2">
                <td class="graph_td">등락가</td>
                <td id="dayBefore">
                  <script>
                    a = "<%= today %>";
                    b = "<%= day %>";
                    nowPrice_num = parseInt(a.replace(",", ""));
                    prevDayPrice_num = parseInt(b.replace(",", ""));
                    res = nowPrice_num - prevDayPrice_num;
                    if (res > 0) {
                      node = document.getElementById("dayBefore");
                      node.style.color = "blue";
                      node.innerText = "-" + res;
                    } else if (res < 0) {
                      node = document.getElementById("dayBefore");
                      node.style.color = "red";
                      node.innerHTML = "+" + Math.abs(res);
                    } else {
                      node = document.getElementById("dayBefore");
                      node.innerHTML = "-";
                    }
                  </script>
                </td>
                <td id="MonthBefore">
                  <script>
                    a = "<%= today %>";
                    b = "<%= month %>";
                    nowPrice_num = parseInt(a.replace(",", ""));
                    prevMonthPrice_num = parseInt(b.replace(",", ""));
                    res = nowPrice_num - prevMonthPrice_num;
                    if (res > 0) {
                      node = document.getElementById("MonthBefore");
                      node.style.color = "blue";
                      node.innerText = "-" + res;
                    } else if (res < 0) {
                      node = document.getElementById("MonthBefore");
                      node.style.color = "red";
                      node.innerHTML = "+" + Math.abs(res);
                    } else {
                      node = document.getElementById("MonthBefore");
                      node.innerHTML = "-";
                    }
                  </script>
                </td>
                <td id="YearBefore">
                  <script>
                    a = "<%= today %>";
                    b = "<%= year %>";
                    nowPrice_num = parseInt(a.replace(",", ""));
                    prevYearPrice_num = parseInt(b.replace(",", ""));
                    res = nowPrice_num - prevYearPrice_num;
                    if (res > 0) {
                      node = document.getElementById("YearBefore");
                      node.style.color = "blue";
                      node.innerText = "-" + res;
                    } else if (res < 0) {
                      node = document.getElementById("YearBefore");
                      node.style.color = "red";
                      node.innerHTML = "+" + Math.abs(res);
                    } else {
                      node = document.getElementById("YearBefore");
                      node.innerHTML = "-";
                    }
                  </script>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="detailprice_right">
        <div class="detailprice_right_title">
          <div class="detailprice_right_title_left">
            <h2>가격 변동 추이</h2>
          </div>
          <div class="detailprice_right_title_right">
            <h2> <span class="commonyear"> ■ </span> 1일 전 <span class="yesteryear"> ■ </span> 한달 전 <span
                class="thisyear">
                ■ </span> 1년 전 </h2>
          </div>

        </div>
        <div class="detailprice_right_chart">

          <!-- 차트 시작 -->

          <div class="detailprice_right_chart_display">
            <canvas id="mixedChart"></canvas>
          </div>
          <script>
            dayBefore = "<%= day %>";
            monthBefore = "<%= month %>";
            yearBefore = "<%= year %>";
            prevDayPrice_num = parseInt(dayBefore.replace(",", ""));
            prevMonthPrice_num = parseInt(monthBefore.replace(",", ""));
            prevYearPrice_num = parseInt(yearBefore.replace(",", ""));

            const ctx = document.getElementById("mixedChart").getContext("2d");

            const mixedChart = new Chart(ctx, {
              type: 'bar',
              data: {
                datasets: [{
                  label: '가격_Bar',
                  data: [
                    prevDayPrice_num,
                    prevMonthPrice_num,
                    prevYearPrice_num,
                  ],
                  borderColor: 'rgb(255, 99, 132)',
                  backgroundColor: ['rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)']
                }, {
                  label: '가격_line',
                  data: [
                    prevDayPrice_num,
                    prevMonthPrice_num,
                    prevYearPrice_num,
                  ],
                  type: 'line',
                  fill: false,
                  borderColor: 'rgb(54, 162, 235)'
                }],
                labels: ["1일 전", "한달 전", "1년 전"]
              },


            });
          </script>

          <!-- 차트 끝 -->
        </div>
      </div>
    </div>
  </section>
</body>

</html>